<footer class="footer mt-4 pt-2 pb-2 text-dark text-center">
  <div class="small">Copyright &copy; <%= Date.today.year %>
    <a href="https://ghiaconi.com/" target="_blank">
      <%= image_pack_tag 'ig_white_logo.png', class: 'avatar'%>
    </a>
    All rights reserved.
  </div>
</footer>