<% content_for :title do %>
  Dashboard
<% end %>
<%= render 'shared/header' %>
<h1>Pages#app</h1>
<p>Find me in app/views/pages/app.html.erb</p>

<h3>This will be the dashboard for every technician</h3>

<p>Here an overview with all the tasks for the day,
  weather, future tasks and completed ones, the team they're part of and so on
</p>

