<% content_for :title do %>
  Dashboard
<% end %>
<header class="page-header page-header-light">
  <div class="page-header-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 d-none d-lg-block">
          <%= image_pack_tag 'default.png', class: "img-fluid"%>
        </div>
        <div class="col-lg-4">
          <h1 class="page-header-title">Empower your workflow</h1>
          <p class="page-header-text mt-5 mb-5">Welcome to Fttx-planner, a toolkit to manage your field technician teams, with powerful tools to create and assign projects, share documents and track issues. </p>
          <a class="btn btn-lg text-info" href="#">DEMO</a>
          <a class="btn btn-lg btn-grad font-weight-500 mr-3" href="/contact">CONTACT</a>
        </div>
      </div>
    </div>
  </div>
</header>