<% content_for :title do %>
  Dashboard
<% end %>
<header class="page-header page-header-light">
  <div class="page-header-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 d-none d-lg-block" data-aos="fade-up" data-aos-delay="100">
          <%= image_pack_tag 'default.png', class: "img-fluid"%>
        </div>
        <div class="col-lg-4" data-aos="fade-up">
          <h1 class="page-header-title">Empower your workflow</h1>
          <p class="page-header-text mt-5 mb-5">Welcome to Fttx-planner, a toolkit to manage your field technician teams, with powerful tools to assign work, share documents and track projects. </p>
          <a class="btn btn-lg bg-gradient-info font-weight-500 mr-3 text-white" href="#">Get access</a><a class="btn btn-lg btn-primary-soft text-info font-weight-500" href="#">Demo</a>
        </div>
      </div>
    </div>
  </div>
</header>