<% content_for :title do %>
  Dashboard
<% end %>
<header class="page-header page-header-light">
  <div class="page-header-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 d-none d-lg-block">
          <%= image_pack_tag 'default.png', class: "img-fluid"%>
        </div>
        <div class="col-lg-5">
          <h1 class="page-header-title">Optimize workflow.</h1>
          <p class="page-header-text mt-5 mb-5">Start today and manage your field technician teams. Get rid of papers and go  digital with our powerful tools to create and assign projects, share documents and track issues. </p>
          <a class="btn text-info" href="#">GET THE APP</a>
          <a class="btn btn-grad font-weight-500" href="/contact">CONTACT</a>
        </div>
      </div>
    </div>
  </div>
</header>